body {
  background: #f5f5f5;
}
nav ul a {
  color: #000;
}
nav {
  padding: 0px 20px !important;
  background: #fff !important;
}
header {
  position: sticky;
  top: 0;
  z-index: 999999;
}
.brand-logo svg {
  color: #96bf47 !important;
  margin-right: 4px;
  color: #96bf47 !important;
  font-size: 2rem;
  position: relative;
  margin-top: 17px;
  float: left;
}
.brand-logo {
  color: #000 !important;
  font-size: 1.5rem !important;
  font-weight: 600;
  font-style: italic;
  font-family: "Lato", sans-serif;
}
#search {
  margin-top: 12px;
  height: 38px;
  /* border: 1px solid; */
  background: #efefef;
  border-radius: 5px;
}
nav .input-field label i,
nav .input-field i {
  line-height: 40px;
  color: #333;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-top: 12px;
  padding: 2px 0px 0px 5px;
}
.sidebar {
  background: #f6f6f7;
  margin-top: -15px;
  position: sticky;
  top: 70px;
  height: 90vh;
  padding: 0;
  border-right: 1px solid #ccc;
  transition: all 0.3s ease;
}
.card-x {
  border: 1px solid #e2e2e2;
  padding: 15px 15px 0px;
}
.card-x img {
  width: 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.list-products {
  margin-top: -17px;
  padding-top: 12px !important;
}
.main-list {
  padding: 5px;
  border: 0 !important;
  box-shadow: none !important;
  background: #f5f5f5;
  padding: 30px;
}
.btn {
  border-radius: 5px;
}
.btn-add-new {
  margin-top: 9px;
}
.new-product {
  padding: 12px;
}
.error {
  color: #000;
  padding: 12px;
}
.badge {
  width: 54px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  font-size: 0.9rem;
}
.card-body {
  margin: 0;
}
.text-muted {
  margin-top: 20px;
}
.small-img {
  width: 60px !important;
}
.item-gallery {
  margin-bottom: 5px;
  background-color: #f6f6f6 !important;
 
}
.vitrine-container .item-gallery{
  width: 33%;
}
.item-gallery .btn-delete{
  margin-top: -20px !important;
  position: absolute;
  right: 20px;
}
.gallery-container {
  padding: 18px !important;
}
.collection a.collection-item {
  display: block;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  color: #484848;
}
.collection {
  border: 0;
}
.collection:active {
  background: #edeeef;
}
.sidebar svg {
  font-size: 1.5rem;
  float: left;
  margin-right: 5px;
}
.collection-item {
  background: transparent !important;
}

.collection-item:hover {
  background: #edeeef !important;
}
.card-x button {
  border: none;
  background: #efefef;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  border: 1px solid #ccc;
}
.home-title {
  padding: 22px;
  color: #fff;
  border-radius: 12px 12px 0px 0px;
  margin-bottom: -7px;
}

.tag-01 {
  position: absolute;
  font-size: 7rem;
  color: #ccc;
  background: #efefef;
  width: 140px;
  height: 140px;
  border-radius: 100px;
  padding: 13px;
  top: 10px;
}
.check-01 {
  font-size: 4rem;
  color: #03695b;
  position: relative;
  margin-top: 100px;
  margin-left: 75px;
}

.home-add a {
  color: #333;
  font-size: 1.2rem;
  text-decoration: underline;
}
.home-add {
  color: #888;
  font-size: 1.6rem;
}
.avatar svg {
  margin-top: -20px !important;
  font-size: 2rem;
}
.w100 {
  width: 100% !important;
}
.vitrine {
  overflow-x: auto;
  padding: 50px;
}
.vitrine-item {
  width: 450px;
  height: 450px;
  overflow: hidden;
  /* Magic */
  display: flex;
  align-items: center; /* vertical */
  justify-content: center; /* horizontal */
  margin-right: 50px;
}
.vitrine-item img {
  width: 400px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
  margin-top: -100px;
}

.vitrine-item:hover img {
  transform: rotate(3deg);
  transition: all 0.3s ease;
  width: 500px;
}
.flex {
  display: flex;
  width: 100%;
}
.vitrine-container {
  padding: 20px 30px;
}
.product-details {
  margin-top: -111px;
  background: #000;
  z-index: 10000;
  position: relative;
  color: #fff;
  display: block;
  width: 94% !important;
}
.vitrine-price {
  font-size: 1.3rem;
  padding: 0;
  margin: -7px 0px 12px;
  color: #ccc;
}
.text-r {
  text-align: right;
}
nav .input-field label.active i {
  color: #adadad !important;
}
.dark-mode nav{
  background: #000 !important;
}
.dark-mode nav a{
  color: #fff !important;
}
.mt-40{
  margin-top: 40px;
}
#menu{
  display: none;
  position: absolute;
  color: #000;
  padding: 0px 15px 0px 15px;
  font-size: 22px;
  cursor: pointer;
}
footer{
  padding: 2px;
  background: #000;
  color: #fff;
}
footer a{
  color: #fff;
}
.heart{
  color:pink;
}

@media only screen and (max-width: 991px) {
  #menu{
    display: block;
  }
  .sidebar{
    position: absolute;
    z-index: 9;
    width: 100% !important;
    margin-top: 0px;
    margin-left: -2000px !important;
    transition: all 0.3s ease;
  }
  .search-bar{
    display: none;
  }
  .open .sidebar{
    margin-left: 0 !important;
  }
  .home-content, .main-list, .gallery-container, .vitrine-container .item-gallery{
    width: 100% !important;
  }
  .home-content{
    margin: 0 !important;
  }
  .vitrine-container .flex{
    display: block;
  }
  .vitrine{
    padding: 0 !important;
  }
  .product-details{
    padding-left: 20px !important;
  }
  .hide-mobile{
    display: none;
  }
}
